@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body
{
    background-color: #141414;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    color: white;
}

.screen
{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-bar
{
    width: 100vw;
    position: absolute;
}

.back-button, .menu-icon
{
    border-radius: 50%;
    padding: 0.8rem;
    margin: 3rem;
    width: 3rem;
    transition: .2s ease-in-out; 
}

.back-button
{
    float: left;
}

.menu-icon
{
    float: right;
}

.back-button:hover, .menu-icon:hover
{
    transform: scale(1.1);
    background-color: #3a3a3a;
}

.menu-icon:hover
    
.title-text
{

    color: white;
}



.placeholder-image-png
{
    border-radius: 50%;
    width: 15rem;
    margin: 1.3rem;
}

.search-area
{
    display: flex;
}

.input-button-search
{
    width: 4rem;
    height: 2rem;
    margin-left: 0.5rem;
}

input.input-text
{
    height: 90%;
    width: 100%;
    border: none;
    border-bottom: 2px solid silver;
    background-color: #141414;
    font-size: 17px;
    color: white;
    transition: .4s all; 
}

label
{
    position: absolute;
    pointer-events: none;
    transition: .2s all; 
}

input.input-text:focus
{
    outline: 0;
    border-color: darkmagenta;
}

input.input-text:focus ~ label
{
    transform: translateY(-18px);
    font-size: 12px;
}

.button-restart > img
{
    margin-top: 2rem;
    width: 4rem;
    cursor: pointer;
}